.paginationBtn {
    margin: 10px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(24, 24, 24);
    border: 1px solid #565656;
    font-size: 20px;
    color: rgb(180, 180, 180);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    transition: 150ms;
}

.paginationBtn:hover {
    color: rgb(226, 226, 226);
    background-color: rgb(55, 55, 55);
}