.tokenCardModal {
    border-radius: 8px;
    background-color: rgb(29, 29, 29);
    width: 60%;
    height: 40%;
}

.tokenCardModalBackground {
    width: 100%;
    min-height: 100%;
    background: rgba(255, 255, 255, 0); /* прозрачный фон */
    backdrop-filter: blur(7px);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tokenCardModalBackground.disabled {
    display: none;
}

.tokenCardModalHeader {
    width: 100%;
    height: 15%;
    border-bottom: 1px solid #232323;
    display: flex;
    align-items: center;
    justify-content: space-around;
}