.tokenCardListHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65vw;
    margin: 5px;
    padding: 12px;
    height: 5vh;
    border-top: 1px solid #565656;
    border-bottom: 1px solid #565656;
    margin: 0 auto;
}

@media(max-width: 440px) {
    .tokenCardListHeader {
        width: 95vw;
        height: 3vh;
        margin: 5px auto;
    }
}