.refreshBtn {
    border: none;
    background-color: #131313;
    color: rgba(79, 183, 79, 1);
    font-size: 18px;
    width: 100px;
    height: 40px;
    border-radius: 8px;
    margin: 10px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    transition: 150ms;
}

.refreshBtn:hover {
    box-shadow: 0 0 25px 0 rgba(79, 183, 79, 1);
}