.refreshBtn {
    border: none;
    background: rgba(255, 255, 255, 0); /* прозрачный фон */
    backdrop-filter: blur(3.5px); /* размывает то, что сзади */
    color: white;
    font-size: 18px;
    width: 100px;
    height: 40px;
    border-radius: 8px;
    margin: 10px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    transition: 150ms;
}

.refreshBtn:hover {
    box-shadow: 0 0 25px 0 rgb(96, 220, 137);
    border-radius: 16px;
    color: rgb(96, 220, 137);
}